<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>DriveTracker</title>
    <!-- base:css -->
    <link rel="stylesheet" href="../../static/adminResources/css/materialdesignicons.min.css">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@7.4.47/css/materialdesignicons.min.css" rel="stylesheet">

    <link rel="stylesheet" href="../../static/adminResources/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- plugin css for this page -->
    <link rel="stylesheet" href="../../static/adminResources/css/jqvmap.min.css">
    <link rel="stylesheet" href="../../static/adminResources/css/flag-icon.min.css">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="../../static/adminResources/css/style.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="../../static/adminResources/image/favicon.ico"/>
</head>
<body>
<div class="container-scroller">
    <!-- partial:partials/_navbar.html -->


    {% include 'admin/header.html' %}


    <!-- partial -->
    <div class="container-fluid page-body-wrapper">

        <!-- partial:partials/_sidebar.html -->

        {% include 'admin/menu.html' %}


        <!-- partial -->
        <div class="main-panel">
            <div class="content-wrapper">

                <div class="row">
                    <div class="col-md-3 grid-margin">
                        <div class="card d-flex align-items-center">
                            <div class="card-body">
                                <div class="d-flex flex-row align-items-center">
                                    <i class="mdi mdi-map-marker-multiple menu-icon icon-md mr-3 text-primary"></i>
                                    <div class="ml-3">
                                        <h6 class="text-primary">City Area Cover</h6>
                                        <h4 class="mb-0 mr-2 font-weight-bold">{{ count_area }}</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 grid-margin">
                        <div class="card d-flex align-items-center">
                            <div class="card-body">
                                <div class="d-flex flex-row align-items-center">
                                    <i class="mdi mdi mdi-file-chart lead icon-md mr-3 text-primary"></i>
                                    <div class="ml-3">
                                        <h6 class="text-primary">File Uploaded </h6>
                                        <h4 class="mb-0 mr-2 font-weight-bold">{{ count_file }}</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 grid-margin">
                        <div class="card d-flex align-items-center">
                            <div class="card-body">
                                <div class="d-flex flex-row align-items-center">
                                    <i class="mdi mdi-cctv menu-icon lead icon-md mr-3 text-success"></i>
                                    <div class="ml-3">
                                        <h6 class="text-success">Number of Camera</h6>
                                        <h4 class="mb-0 mr-2 font-weight-bold">{{ count_camera }}</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 grid-margin">
                        <div class="card d-flex align-items-center">
                            <div class="card-body">
                                <div class="d-flex flex-row align-items-center">
                                    <i class="mdi mdi-magnify-scan icon-md mr-3 text-success"></i>
                                    <div class="ml-3">
                                        <h6 class="text-success">Vehicle Detected</h6>
                                        <h4 class="mb-0 mr-2 font-weight-bold">{{ count_all_vehicles }}</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <div class="chartjs-size-monitor">
                                    <div class="chartjs-size-monitor-expand">
                                        <div class=""></div>
                                    </div>
                                    <div class="chartjs-size-monitor-shrink">
                                        <div class=""></div>
                                    </div>
                                </div>
                                <h4 class="card-title">Bar chart</h4>
                                <canvas id="barChart" width="761" height="380" style="display: block; width: 1202px; height: 470px;" class="chartjs-render-monitor"></canvas>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
            <!-- content-wrapper ends -->
            <!-- partial:partials/_footer.html -->

            {% include 'admin/footer.html' %}

            <!-- partial -->
        </div>
        <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->

<!-- base:js -->
<script src="../../static/adminResources/js/vendor.bundle.base.js"></script>
<!-- endinject -->
<!-- Plugin js for this page-->
<script src="../../static/adminResources/js/jquery.flot.js"></script>
<script src="../../static/adminResources/js/jquery.flot.pie.js"></script>
<script src="../../static/adminResources/js/jquery.flot.resize.js"></script>
<script src="../../static/adminResources/js/jquery.vmap.min.js"></script>
<script src="../../static/adminResources/js/jquery.vmap.world.js"></script>
<script src="../../static/adminResources/js/jquery.vmap.usa.js"></script>
<script src="../../static/adminResources/js/jquery.peity.min.js"></script>
<script src="../../static/adminResources/js/jquery.flot.dashes.js"></script>
<!-- End plugin js for this page-->
<!-- inject:js -->
<script src="../../static/adminResources/js/off-canvas.js"></script>
<script src="../../static/adminResources/js/hoverable-collapse.js"></script>
<script src="../../static/adminResources/js/template.js"></script>
<script src="../../static/adminResources/js/settings.js"></script>
<script src="../../static/adminResources/js/todolist.js"></script>
<!-- endinject -->
<!-- plugin js for this page -->
<script src="../../static/adminResources/js/Chart.min.js"></script>
<script src="../../static/adminResources/js/chart.js"></script>
<!-- End plugin js for this page -->
<!-- Custom js for this page-->
<script src="../../static/adminResources/js/dashboard.js"></script>

<script type="text/javascript"></script>
<!-- End custom js for this page-->
</body>

</html>