<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">

        <li class="nav-item">
            <a class="nav-link" href="/admin/" aria-expanded="false">
                <i class="mdi mdi-home menu-icon"></i>
                <span class="menu-title">
                    Home
                </span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/admin/view_area" aria-expanded="false">
                <i class="mdi mdi-map-marker-multiple menu-icon"></i>
                <span class="menu-title">
                    Manage Area
                </span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/admin/view_crossroad">
                <i class="mdi mdi-road-variant menu-icon"></i>
                <span class="menu-title">
                    Manage CrossRoad
                </span>
            </a>

        </li>

        <li class="nav-item">
            <a class="nav-link" href="/admin/view_camera">
                <i class="mdi mdi-cctv menu-icon"></i>
                <span class="menu-title">
                    Manage Camera
                </span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/admin/view_video">
                <i class="mdi mdi-video menu-icon"></i>
                <span class="menu-title">
                    Manage Video
                </span>
            </a>
        </li>

    </ul>
</nav>
